{% load static %}

<!-- Fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect" />
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto&family=Poppins&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

<!-- Bootstrap CSS (apenas o minificado, que já inclui grid, reboot e utilities) -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

<!-- Bootstrap Icons -->
<link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.min.css' %}" rel="stylesheet" />

<!-- Vendor CSS -->
<link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet" />
<link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
<link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />

<!-- Custom CSS -->
<link href="{% static 'css/base.css' %}" rel="stylesheet" />
<link href="{% static 'css/utilities.css' %}" rel="stylesheet" />

<!-- Layout -->
<link href="{% static 'css/layout/header.css' %}" rel="stylesheet" />
<link href="{% static 'css/layout/footer.css' %}" rel="stylesheet" />
<link href="{% static 'css/layout/navmenu.css' %}" rel="stylesheet" />
<link href="{% static 'css/layout/scrolltop.css' %}" rel="stylesheet" />

<!-- Sections -->
<link href="{% static 'css/sections/hero.css' %}" rel="stylesheet" />
<link href="{% static 'css/sections/about.css' %}" rel="stylesheet" />
<link href="{% static 'css/sections/portfolio.css' %}" rel="stylesheet" />
<link href="{% static 'css/sections/portfolio-details.css' %}" rel="stylesheet" />
<link href="{% static 'css/sections/resume.css' %}" rel="stylesheet" />
<link href="{% static 'css/sections/services.css' %}" rel="stylesheet" />
<link href="{% static 'css/sections/service-details.css' %}" rel="stylesheet" />
<link href="{% static 'css/sections/starter-section.css' %}" rel="stylesheet" />
<link href="{% static 'css/sections/stats.css' %}" rel="stylesheet" />
<link href="{% static 'css/sections/testimonials.css' %}" rel="stylesheet" />
<link href="{% static 'css/custom.css' %}" rel="stylesheet" />
<link href="{% static 'css/sections/skills.css' %}" rel="stylesheet" />
