.blog {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    text-align: center;
}

.blog .subtitle {
    color: var(--color-pink-light);
}

.blog img {
    width: 80%;
    height: auto;
    border-radius: 20px;
    padding: 1em 1em;
}