{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>{% block title %}Victor Rodrigues Portfolio{% endblock %}</title>

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon" />
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

  {% include 'includes/css.html' %}
</head>

<body>
  {% include 'includes/header.html' %}
  {% include 'includes/hero.html' %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'includes/footer.html' %}
  {% include 'includes/scripts.html' %}
</body>

</html>
